chartDemo/Service References/XHQService/XhqWse2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.xhq.siemens.com" elementFormDefault="qualified" targetNamespace="http://webservices.xhq.siemens.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mus-ws-204.corp.pdo.om/indx/xhqwse/XhqWse.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://mus-ws-204.corp.pdo.om/indx/xhqwse/XhqWse.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" />
  <xs:element name="GetRolesProvidingReadAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesProvidingReadAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesProvidingReadAccessResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesProvidingWriteAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesProvidingWriteAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesProvidingWriteAccessResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionColumnCountResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnMaximum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnMaximumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionColumnMaximumResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnMinimum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnMinimumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionColumnMinimumResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionColumnSumResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalCollections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalCollectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGlobalCollectionsResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionRootResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSolutionRootResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildPrimitiveMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showHidden" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildPrimitiveMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChildPrimitiveMembersResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildComponentMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showHidden" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildComponentMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChildComponentMembersResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildCollectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showHidden" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildCollectionMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChildCollectionMembersResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildCollectionMembersInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showHidden" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildCollectionMembersInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetChildCollectionMembersInfoResult" nillable="true" type="q11:ArrayOfMemberInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChildMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showHidden" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChildMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllChildMembersResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePointValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePointValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WritePointValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteValuesToBackend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pathList" nillable="true" type="q13:ArrayOfstring" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="vtqList" nillable="true" type="q14:ArrayOfVTQ" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteValuesToBackendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WriteValuesToBackendResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collection" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="columns" nillable="true" type="q16:ArrayOfstring" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q17:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollectionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCollectionDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collection" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="columns" nillable="true" type="q18:ArrayOfstring" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q19:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollectionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCollectionDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceCollectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collection" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="columns" nillable="true" type="q20:ArrayOfstring" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q21:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceCollectionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplaceCollectionDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCollectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collection" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="columns" nillable="true" type="q22:ArrayOfstring" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q23:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCollectionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCollectionDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileStream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="modelServerHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="importViews" type="xs:boolean" />
        <xs:element minOccurs="0" name="importTemplates" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportModelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportModelWithCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileStream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="modelServerHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="importViews" type="xs:boolean" />
        <xs:element minOccurs="0" name="importTemplates" type="xs:boolean" />
        <xs:element minOccurs="0" name="encrytptedPassword" type="xs:boolean" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportModelWithCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportModelWithCredentialsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelServerHost" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RefreshRolesResult" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshRolesWithCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelServerHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encrytptedPassword" type="xs:boolean" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshRolesWithCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RefreshRolesWithCredentialsResult" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXhqciCommandOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineOffset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXhqciCommandOutputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetXhqciCommandOutputResult" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathListAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q27:ArrayOfstring" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathListAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPathListAccessResult" nillable="true" type="q28:ArrayOfPathAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanReadMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanReadMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanReadMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanWriteMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanWriteMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanWriteMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadableMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadableMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReadableMembersResult" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWriteableMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWriteableMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWriteableMembersResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserRoleListResult" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserInRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesWithReadAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesWithReadAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesWithReadAccessResult" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesWithWriteAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesWithWriteAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesWithWriteAccessResult" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSolutionAccessible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSolutionAccessibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSolutionAccessibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointCurrentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointCurrentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointCurrentDataResult" nillable="true" type="q34:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointAtValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="atTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointAtValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointAtValueResult" nillable="true" type="q35:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointActualValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actualTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointActualValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointActualValueResult" nillable="true" type="q36:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointAverageValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointAverageValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointAverageValueResult" nillable="true" type="q37:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointCountValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointCountValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointCountValueResult" nillable="true" type="q38:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointDeltaValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointDeltaValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointDeltaValueResult" nillable="true" type="q39:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointFirstValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointFirstValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointFirstValueResult" nillable="true" type="q40:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointIntegralValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointIntegralValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointIntegralValueResult" nillable="true" type="q41:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointLastValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointLastValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointLastValueResult" nillable="true" type="q42:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointMaximumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointMaximumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointMaximumValueResult" nillable="true" type="q43:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointMinimumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointMinimumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointMinimumValueResult" nillable="true" type="q44:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointSumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointSumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetPointSumValueResult" nillable="true" type="q45:VTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkCurrentValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q46:ArrayOfstring" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkCurrentValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkCurrentValuesResult" nillable="true" type="q47:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkAtValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q48:ArrayOfstring" />
        <xs:element minOccurs="0" name="atTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkAtValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkAtValuesResult" nillable="true" type="q49:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkActualValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q50:ArrayOfstring" />
        <xs:element minOccurs="0" name="actualTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkActualValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkActualValuesResult" nillable="true" type="q51:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkAverageValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q52:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkAverageValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkAverageValuesResult" nillable="true" type="q53:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkCountValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q54:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkCountValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkCountValuesResult" nillable="true" type="q55:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkDeltaValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q56:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkDeltaValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkDeltaValuesResult" nillable="true" type="q57:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkFirstValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q58:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkFirstValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkFirstValuesResult" nillable="true" type="q59:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkLastValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q60:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkLastValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkLastValuesResult" nillable="true" type="q61:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkIntegralValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q62:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkIntegralValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkIntegralValuesResult" nillable="true" type="q63:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkMaximumValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q64:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkMaximumValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkMaximumValuesResult" nillable="true" type="q65:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkMinimumValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q66:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkMinimumValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkMinimumValuesResult" nillable="true" type="q67:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkSumValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q68:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkSumValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetBulkSumValuesResult" nillable="true" type="q69:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeZone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="samplingMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noPoints" type="xs:int" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Indx.Xhq.Wse" minOccurs="0" name="GetTimeSeriesDataResult" nillable="true" type="q70:ArrayOfVTQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionDataResult" nillable="true" type="q71:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionDataWhere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionDataWhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionDataWhereResult" nillable="true" type="q72:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionDataOrderBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderByClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionDataOrderByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionDataOrderByResult" nillable="true" type="q73:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionDataFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderByClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionDataFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionDataFilterResult" nillable="true" type="q74:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnAverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solutionHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionColumnAverageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCollectionColumnAverageResult" nillable="true" type="q75:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSolutionTreeNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="solutionHost" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="path" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSolutionTreeNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateSolutionTreeNodeResult">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>