chartDemo/Service References/XHQService/XhqWse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://webservices.xhq.siemens.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XhqWse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IXhqService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WebHttpBinding_IXhqService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WebHttpBinding_XHQ_x0020_Web_x0020_Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://webservices.xhq.siemens.com" location="http://mus-ws-204.corp.pdo.om/indx/xhqwse/XhqWse.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IXhqService" type="i0:IXhqService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IXhqService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRolesProvidingReadAccess">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetRolesProvidingReadAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesProvidingWriteAccess">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetRolesProvidingWriteAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnCount">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionColumnCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnMaximum">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionColumnMaximum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnMinimum">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionColumnMinimum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnSum">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionColumnSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionCount">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalCollections">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetGlobalCollections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolutionRoot">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetSolutionRoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildPrimitiveMembers">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetChildPrimitiveMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildComponentMembers">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetChildComponentMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildCollectionMembers">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetChildCollectionMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildCollectionMembersInfo">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetChildCollectionMembersInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChildMembers">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetAllChildMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WritePointValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/WritePointValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteValuesToBackend">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/WriteValuesToBackend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCollectionData">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/InsertCollectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCollectionData">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/UpdateCollectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceCollectionData">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/ReplaceCollectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCollectionData">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/DeleteCollectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportModel">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/ImportModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportModelWithCredentials">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/ImportModelWithCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshRoles">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/RefreshRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshRolesWithCredentials">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/RefreshRolesWithCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXhqciCommandOutput">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetXhqciCommandOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathListAccess">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPathListAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanReadMember">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/CanReadMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanWriteMember">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/CanWriteMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReadableMembers">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetReadableMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWriteableMembers">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetWriteableMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleList">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetUserRoleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/IsUserInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesWithReadAccess">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetRolesWithReadAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesWithWriteAccess">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetRolesWithWriteAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSolutionAccessible">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/IsSolutionAccessible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointCurrentData">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointCurrentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointAtValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointAtValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointActualValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointActualValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointAverageValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointAverageValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointCountValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointCountValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointDeltaValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointDeltaValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointFirstValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointFirstValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointIntegralValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointIntegralValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointLastValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointLastValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointMaximumValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointMaximumValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointMinimumValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointMinimumValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointSumValue">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetPointSumValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkCurrentValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkCurrentValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkAtValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkAtValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkActualValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkActualValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkAverageValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkAverageValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkCountValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkCountValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkDeltaValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkDeltaValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkFirstValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkFirstValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkLastValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkLastValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkIntegralValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkIntegralValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkMaximumValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkMaximumValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkMinimumValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkMinimumValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulkSumValues">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetBulkSumValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeSeriesData">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetTimeSeriesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionData">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataWhere">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionDataWhere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataOrderBy">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionDataOrderBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataFilter">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionDataFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnAverage">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/XHQ_x0020_Web_x0020_Service/GetCollectionColumnAverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSolutionTreeNode">
      <soap:operation soapAction="http://webservices.xhq.siemens.com/IXhqService/GenerateSolutionTreeNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebHttpBinding_IXhqService" type="i0:IXhqService">
    <wsp:PolicyReference URI="#WebHttpBinding_IXhqService_policy" />
    <wsdl:operation name="GetRolesProvidingReadAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetRolesProvidingWriteAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnCount">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnMaximum">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnMinimum">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnSum">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionCount">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalCollections">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSolutionRoot">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildPrimitiveMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildComponentMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildCollectionMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildCollectionMembersInfo">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllChildMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="WritePointValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="WriteValuesToBackend">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InsertCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ReplaceCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ImportModel">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ImportModelWithCredentials">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RefreshRoles">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RefreshRolesWithCredentials">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetXhqciCommandOutput">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPathListAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CanReadMember">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CanWriteMember">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetReadableMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetWriteableMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleList">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetRolesWithReadAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetRolesWithWriteAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsSolutionAccessible">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointCurrentData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointAtValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointActualValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointAverageValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointCountValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointDeltaValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointFirstValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointIntegralValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointLastValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointMaximumValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointMinimumValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointSumValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkCurrentValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkAtValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkActualValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkAverageValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkCountValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkDeltaValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkFirstValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkLastValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkIntegralValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkMaximumValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkMinimumValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkSumValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSeriesData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataWhere">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataOrderBy">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataFilter">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnAverage">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GenerateSolutionTreeNode">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebHttpBinding_XHQ_x0020_Web_x0020_Service" type="i0:XHQ_x005F_x0020_Web_x005F_x0020_Service">
    <wsp:PolicyReference URI="#WebHttpBinding_XHQ_x0020_Web_x0020_Service_policy" />
    <wsdl:operation name="GetRolesProvidingReadAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetRolesProvidingWriteAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnCount">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnMaximum">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnMinimum">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnSum">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionCount">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalCollections">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSolutionRoot">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildPrimitiveMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildComponentMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildCollectionMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetChildCollectionMembersInfo">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllChildMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="WritePointValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="WriteValuesToBackend">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InsertCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ReplaceCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ImportModel">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ImportModelWithCredentials">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RefreshRoles">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RefreshRolesWithCredentials">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetXhqciCommandOutput">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPathListAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CanReadMember">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CanWriteMember">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetReadableMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetWriteableMembers">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleList">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetRolesWithReadAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetRolesWithWriteAccess">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsSolutionAccessible">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointCurrentData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointAtValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointActualValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointAverageValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointCountValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointDeltaValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointFirstValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointIntegralValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointLastValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointMaximumValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointMinimumValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPointSumValue">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkCurrentValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkAtValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkActualValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkAverageValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkCountValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkDeltaValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkFirstValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkLastValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkIntegralValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkMaximumValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkMinimumValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBulkSumValues">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSeriesData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionData">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataWhere">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataOrderBy">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionDataFilter">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionColumnAverage">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XhqWse">
    <wsdl:port name="BasicHttpBinding_IXhqService" binding="tns:BasicHttpBinding_IXhqService">
      <soap:address location="http://mus-ws-204.corp.pdo.om/indx/xhqwse/XhqWse.svc" />
    </wsdl:port>
    <wsdl:port name="WebHttpBinding_IXhqService" binding="tns:WebHttpBinding_IXhqService" />
    <wsdl:port name="WebHttpBinding_XHQ_x0020_Web_x0020_Service" binding="tns:WebHttpBinding_XHQ_x005F_x0020_Web_x005F_x0020_Service" />
  </wsdl:service>
</wsdl:definitions>